<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/news.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/img/DALL·E 2024-01-20 03.28.00 - A single logo with a serious tone, featuring a medium level of detail and complexity, using a color palette of blue and gray. The design should be sui.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Daily
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logged">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/country">Countries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile"><span class="text-info">Profile</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-3">
        <h1>Latest News</h1>
        <div id="news-articles">
            <% news.forEach(article => { %>
                <div class="news-article">
                    <h2><%= article.title %></h2>
                    <% if (article.author) { %>
                        <p class="author">Author: <%= article.author %></p>
                    <% } %>
                    <p class="source">Source: <%= article.sourceName %></p>
                    <img src="<%= article.urlToImage %>" alt="News Image" class="news-img">
                    <p class="description"><%= article.description %></p>
                    <a href="<%= article.url %>" class="btn btn-outline-info" target="_blank">Read more</a>
                </div>
            <% }) %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
